.bg-navbar {
  background: linear-gradient(#313b45 0%, #313b45 100%);
}

.mt-n1 {
  margin-left: -100px !important;
}

.ms-10 {
  margin-left: 19rem !important;
}

.img-fit {
  object-fit: contain;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.img-profile {
  width: 30%;
  height: 30%;
  position: relative;
  border-radius: 50%;
  border: 1px solid #00c9b7;
  overflow: hidden;
  object-fit: cover;
}

.table-spacing {
  padding-bottom: 20px;
}

html * {
  font-family: "Kanit", sans-serif;
}

footer * {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
}

.circle-singleline {
  display: inline-block;
  margin: 15px;
  padding: 8px;
  width: 5%;
  border-radius: 50%;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  background: #ff4477;
  color: #fff;
}

.google-crop {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.line-before-after {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.shape-inside {
  background: white;
  padding: 0 10px;
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.btn-outline-customred {
  color: #fff;
  border-color: #f3f3f3 !important;
  background-color: #fff;
}

.btn-outline-customred:active, .btn-outline-customred:focus, .btn-outline-customred:visited, .btn-outline-customred:active:focus{
  color: #fff;
  background-color: #fef3f1 !important;
  border-color: #db4833 !important;
}

.btn-outline-customred:hover{
  color: #fff;
  background-color: #fef3f1 !important;
  border-color: #db4833 !important;
}

.btn-outline-grey{
  color: #fff;
  border-color: #f3f3f3 !important;
  background-color: #fff !important;
}

.btn-outline-grey:active, .btn-outline-grey:hover, .btn-outline-grey-active{
  color: #fff;
  background-color: #fef3f1 !important;
  border-color: #db4833 !important;
}

.customred-origin {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.customred {
  position: relative;
  background-color: #db4833;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 1;
}

/* 
label:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 50px;
}

input[type="button"]:active + label{
  background-color: #f3f3f1;
  color:black;
}

input[type="button"]:active + label::before{
  height: 8px;
  width: 8px;
  border: 10px solid red;
  background-color: #01cc65;
} */
/* #changebutton1:not(:active) {
  display: none !important;
} */

.check-info{
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  background-color: #f3f3f3;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
}
.custom-form{
  border-color: black;
  border-radius: 10px;
}

.custom-form:focus{
  border-color: #5cb85c;  box-shadow: none; -webkit-box-shadow: none;
}

input[name="payment"]{
  display: none;
}

.selectpay{
  position: relative;
  color: black;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  padding: 5px 10px 10px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selectpay:before{
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  margin-right: 20px;
}

input[name="payment"]:checked + .selectpay{
  background-color: white;
  color:black;
  border: 2px solid red;
}

input[name="payment"]:hover + .selectpay{
  background-color: #ffccc4ec;
  color:black;
  border: 2px solid red;
}

input[name="payment"]:checked + .selectpay:before{
  height: 20px;
  width: 20px;
  border: 6px solid #f3f3f3;
  background-color: red;
}

.containerpay{
  position: absolute;
}

input[name="server"]{
  display: none;
}

.selectserver{
  position: relative;
  color: black;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  padding: 5px 10px 10px 5px;
  display: flex;
  width: 1233px;
  align-items: center;
  cursor: pointer;
}

input[name="server"]:checked + .selectserver{
  background-color: white;
  color:black;
  border: 2px solid red;
}

input[name="server"]:hover + .selectserver{
  background-color: #ffccc4ec;
  color:black;
  border: 2px solid red;
}

input[name="server"]:checked + .selectserver:before{
  height: 20px;
  width: 20px;
  border: 6px solid #f3f3f3;
  background-color: red;
}

.container {
  width: 600px;
  margin: 10px auto; 
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #FF4576;
  margin-bottom: 20px;
}
.progressbar li:before {
  width: 5px;
  height: 5px;
  content: " ";
  line-height: 30px;
  border: 5px solid #FF4576;
  display: block;
  text-align: center;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #ffccc4ec;
  top: 5px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #FF4576;
}
.progressbar li.active:before {
  border-color: #FF4576;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: white;
  border: 5px solid #FF4576;
  box-shadow: 0px 0px 0px 15px #ffccc4ec;
}
.progressbar li.active + li:after {
  background-color: #ffccc4ec;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 5px solid #000; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px 10px 5px 10px; /* Some padding */
  font-size: 15px;
  border-radius: 50%; /* Rounded corners */
  
}

#myBtn:hover {
  background-color: rgb(205, 205, 205); /* Add a dark-grey background on hover */
}