/* html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    } */

.bg-wog1{
    background-image: url('Assets/WOG_PRODUCT_BG_1.png');
    background-repeat: no-repeat;
    height: 64em;
    padding: 0px 0px 0px 0px;
}

.bg-img1{
    background-image: url('Assets/Horus.png');
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 75%;
    margin: 0px 0px 0px -100px;
    background-size: cover;
}

.bg-wog2{
    background-image: url('Assets/DT_PRODUCT_BG.png');
    background-repeat: no-repeat;
    height: 64em;
    z-index: 0;
}

.bg-img2{
    background-image: url('Assets/DT_CHAR.png');
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 60%;
    margin: 0px 0px 0px -300px;
    background-size: cover;
}

.bg-wog3{
    background-image: url('Assets/OK_PRODUCT_BG.png');
    background-repeat: no-repeat;
    height: 64em;
}

.bg-img3{
    background-image: url('Assets/OverKill_CHAR.png');
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 67%;
    margin: 0px 0px 0px -26.25em;
    background-size: cover;
}

.slider{
    position: absolute;
    top: 321px;
    float: left;
    position: sticky;
    z-index: 20;
}

.circleside{
    background-color: #1D1D1D;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.hrefdeco{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hrefdeco:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.articontainer{
    display: flex;
    color: #3090F8;
    width: 373px;
    height: 117px;
    margin-top: 33px;
    font-size: 13px;
    font-family: 'Kanit', sans-serif;
}

hr.num1{
    color: #3090F8;
}

.woglogo{
    margin-top: 167px;
    width: 611px;
    height: 244px;
}

.dtlogo{
    margin-top: 167px;
    width: 536px;
    height: 90px;
    margin-left: 20px;
    margin-bottom: 60px
}

.oklogo{
    margin-top: 167px;
    width: 611px;
    height: 244px;
}

.indevbg{
    background-color: #F8BC30;
    width: 154px;
    height: 34px;
    font-family: 'Kanit', sans-serif;
    padding-top: 2px;
    margin-left: 50px;
    display: inline-block;
    font-size: 20px;
}

.indevtext{
    color: #fff;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    margin-left: 26px;
}

.btn-custom-wog{
    background-color: #F98D00;
    padding: 10px 110px 10px 110px;
    color: #fff;
    border-radius: 0%;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

.btn-custom-wog:hover{
    background-color: #F98D00;
    border-color: #fff;
    font-family: 'Kanit', sans-serif;
}

.btn-custom-wog:focus{
    background-color: #F98D00;
    border-color: #fff;
    font-family: 'Kanit', sans-serif;
}

.btn-custom-dt{
    background-color: #004CFF;
    padding: 10px 110px 10px 110px;
    color: #fff;
    border-radius: 0%;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

.btn-custom-dt:hover{
    background-color: #004CFF;
    border-color: #fff;
    font-family: 'Kanit', sans-serif;
}

.btn-custom-dt:focus{
    background-color: #004CFF;
    border-color: #fff;
    font-family: 'Kanit', sans-serif;
}

.btn-custom-ok{
    background-color: #004CFF;
    padding: 10px 110px 10px 110px;
    color: #fff;
    border-radius: 0%;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

.btn-custom-ok:hover{
    background-color: #004CFF;
    border-color: #fff;
    font-family: 'Kanit', sans-serif;
}

.btn-custom-ok:focus{
    background-color: #004CFF;
    border-color: #fff;
    font-family: 'Kanit', sans-serif;
}

.btn-customimg{
    background-image: url('/BYG-Intern/BYG-MainWebPage/Assets/Assets/PNG/CHANGE_LANGUAGE.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 14px;
    border-radius: 0px;
    margin-top: 25px;
    margin-left: 5px;
}

.navstyle{
    background-color: black;
    width: 100%;
    height: 2.5em;
}

.navbrandstyle{
    background-color: white;
    width: 100%;
    height: 5em;
}

.navtop{
    text-align: end;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-right: 30px;
    display: inline-block;
}

.navimg{
    margin-right: 10px;
    margin-top: -3px;
}

.custom-nav{
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-left: 150px
}

.footer{
    background-color: #000D2B;
    width: 100%;
    height: 30em;
}

.paymentbox{
    height: 59px;
    width: 171px;
}

/* media viewport for mobile */
@media only screen and (max-width: 1024px) {

    .navstyle{
        background-color: black;
        width: 100%;
        height: 2.5em;
    }

    .texthide{
        display: none;
    }

    .navbar-brand{
        margin-left: auto;
        margin-right: auto;
    }

    .bg-img1{
        width: 100%;
        margin-right: 0%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        background-position: center;
    }

    .bg-img2{
        height: 90%;
        width: 150%;
        box-sizing: border-box;
        display: flex;
        margin: 0px 0px 0px -26em;
    }

    .bg-img3{
        height: 90%;
        width: 150%;
        box-sizing: border-box;
        display: flex;
        margin: 0px 0px 0px -30em;
    }

    .bg-wog1, .bg-wog2, .bg-wog3{
        height: 50em;
    }

    .textfeature{
        position: relative;
        z-index: 1;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .woglogo, .dtlogo, .oklogo{
        height: auto;
        width: 100%;
        object-fit: cover;
        margin: auto;
        margin-top: 50%;
        box-sizing: border-box;
    }

    .dtlogo{
        margin-bottom: 5%;
    }
    .oklogo{
        margin-bottom: -10%;
    }

    .btn-custom-wog{
        width: 20em;
        font-size: 100%;
    }

    .btn-custom-dt{
        width: 20em;
        font-size: 100%;
    }

    .btn-custom-ok{
        width: 20em;
        font-size: 100%;
    }

    .slider{
    position: -webkit-sticky;
    position: sticky;
    z-index: 20;
    margin-left: -10%;
    }

    .footer{
        background-color: #000D2B;
        width: 100%;
        height: 100%;
    }

    .paymentbox{
        height: auto;
        width: 100%;
    }

    .indevtext{
        text-align: center;
    }

}